<tr id="<%= dom_id(field) %>">
  <td class="td"><%= field.label %></td>
  <td class="td"><span class="inline-block rounded-full bg-slate-100 px-2 py-0.5 text-xs text-slate-700 border border-slate-200"><%= field.field_type.humanize %></span></td>
  
  <td class="td text-right space-x-2">
    <%= link_to 'Edit', edit_field_path(field), class: "btn btn-secondary" %>
    <%= button_to 'Delete', field_path(field), method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } }, class: "btn btn-danger" %>
  </td>
</tr>
